body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background: #fff;
  }
  
  header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  footer {
    background: #f4f4f4;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
  }
  
  @media (max-width: 600px) {
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      margin: 5px 0;
    }
  }
 
  .intro-container {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }
  
  .profile-img-left {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: :cover;
    flex-shrink: 0;
  }
  
  .bio-text {
    flex: 1;
    min-width: 200px;
    font-size: 0.95rem;
    line-height: 1.4;
  }


  @media (max-width: 500px) {
    .intro-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .profile-img-left {
      margin-bottom: 1rem;
    }
  }
  
  #home h2 {
    text-align: left;
    margin-top: 1rem;
  }
  .news-section {
    width: 100%;
    text-align: left;
  }
  